body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.screens {
    height: 300px;
    background: red;
}
.thumb {
    background: green;
    text-align: center;
}
#navbar {
    float: right;
}