body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.screens {
    height: 300px;
    background: red;
}
.thumb {
    background: green;
    text-align: center;
}
#navbar {
    float: right;
}
.navbar-brand {
    color: black;
}

.blacktext {
    color: black;
}

#policeTitre{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.nav > li > a:hover {
    background-color:transparent;
}